<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>맛집 리스트</title>
    <style>
      table { border: 1px solid black; border-collapse: collapse; }
      table th, table td { border: 1px solid black; }
    </style>
  </head>
  <body>
    <br>
   
        {% for placeReview in placeReviews %}
        <div style="border: 1px solid black;">
          <div>
          {{placeReview.user_id}}
          {{placeReview.description}}
          </div>
        </div>
        {% endfor %}
   
    <br>
    
    <div>
        <form id="placeReview-form">
          <fieldset>
            <legend>댓글 작성</legend>
            <input type="hidden" id="id" value="{{places.id}}">
            <div><input id="rate" type="range" min="0" max="5" step="0.5"></div>
            <div><input id="des" type="text" placeholder="내용"></div>
            <button type="submit">작성</button>
          </fieldset>
        </form>
      </div>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="/placeReveiw.js"></script>
  </body>
</html>