@font-face {
    font-family: PretendardVariable;
    src: url(../public/font/PRETENDARDVARIABLE.TTF);
  }
  @font-face {
    font-family: APPLESDGOTHICNEOB;
    src: url(../public/font/APPLESDGOTHICNEOB.TTF);
  }
  @font-face {
    font-family: APPLESDGOTHICNEOEB;
    src: url(../public/font/APPLESDGOTHICNEOEB.TTF);
  }
  @font-face {
    font-family: APPLESDGOTHICNEOSB;
    src: url(../public/font/APPLESDGOTHICNEOSB.TTF);
  }
  @font-face {
    font-family: APPLESDGOTHICNEOM;
    src: url(../public/font/APPLESDGOTHICNEOM.TTF);
  }
  @font-face {
    font-family: APPLESDGOTHICNEOR;
    src: url(../public/font/APPLESDGOTHICNEOR.TTF);
  }
  @font-face {
    font-family: APPLESDGOTHICNEOL;
    src: url(../public/font/APPLESDGOTHICNEOL.TTF);
  }
  @font-face {
    font-family: APPLESDGOTHICNEOUL;
    src: url(../public/font/APPLESDGOTHICNEOUL.TTF);
  }
  @font-face {
    font-family: MontserratBold700;
    src: url(../public/font/MontserratBold700.ttf);
  }
