.monthBar {
  height: 78px;
  width: 100%;
  justify-content: space-around;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  background-color: #e7eaef;
  text-align: center;
}
.monthBar__item {
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.textCircle {
  width: 30px;

  background-color: var(--sub-text-color);
  padding: auto;
  color: white;
}
.boxOut {
  min-width: 300px;
  max-width: 600px;
  min-height: 100vh;
  border: 1px;
  margin: auto;
}
.flex {
  direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 100%;
}
