@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

.head {
  display: flex;
  background: linear-gradient(to right, #021b79, #4364f7, #6fb1fc);
  height: 30vh;
  border-bottom-left-radius: 22px;
}

.menu {
  padding-top: 4vh;
  margin-left: 6vw;
}

.name {
  padding-top: 13vh;
  text-align: left;
  font-size: 40px;
  color: white;
  font-family: 'Montserrat-SemiBold';
}

.category {
  font-size: 24px;
  padding-left: 6vw;
  font-family: 'pretendardVariable';
}

#diner {
  padding-top: 2.5vh;
}

#schedule {
  padding-top: 0vh;
}

.seeAll {
  padding-left: 62vw;
  padding-right: 6vw;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  color: #4364f7;
  font-family: 'pretendardVariable';
}

.CardTitle {
  font-size: 16px;
  font-family: 'pretendardVariable';
}

.CardText {
  font-size: 15px;
  color: gray;
  font-family: 'pretendardVariable';
}

.Card {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}
